docs/n8n/solyra-whatsapp-inbound.json
{
  "name": "Solyra WhatsApp Inbound (Darija)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET,POST",
        "path": "solyra-whatsapp-inbound",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "inbound-webhook",
      "name": "Meta Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "solyra-whatsapp-inbound"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "verify-get",
              "leftValue": "={{ $json.query['hub.mode'] }}",
              "rightValue": "subscribe",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "is-verify",
      "name": "Is Meta Verify?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query['hub.challenge'] }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "verify-response",
      "name": "Return Challenge",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [640, 180]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || {};\nconst entry = body.entry?.[0];\nconst change = entry?.changes?.[0];\nconst value = change?.value || {};\nconst msg = value.messages?.[0];\nif (!msg) {\n  return [{ json: { skip: true } }];\n}\nconst from = msg.from;\nlet payload = '';\nif (msg.type === 'button' && msg.button) {\n  payload = msg.button.payload || msg.button.text || '';\n} else if (msg.type === 'interactive' && msg.interactive?.button_reply) {\n  payload = msg.interactive.button_reply.id || msg.interactive.button_reply.title || '';\n}\nreturn [{\n  json: {\n    skip: false,\n    from,\n    payload: String(payload).toLowerCase(),\n    msg_type: msg.type,\n    raw: msg\n  }\n}];"
      },
      "id": "parse-inbound",
      "name": "Parse Button Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "not-skip",
              "leftValue": "={{ $json.skip }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "false"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "has-message",
      "name": "Has Message?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [860, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SOLYRA_API_URL }}/v1/orders/whatsapp-lookup",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"phone\": \"{{ $json.from }}\",\n  \"secret\": \"{{ $env.ORDER_WEBHOOK_SECRET }}\"\n}",
        "options": {}
      },
      "id": "lookup-order",
      "name": "Lookup Order",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1080, 400]
    },
    {
      "parameters": {
        "jsCode": "const parse = $('Parse Button Reply').first().json;\nconst lookup = $input.first().json;\nreturn [{\n  json: {\n    from: parse.from,\n    payload: parse.payload,\n    order_number: lookup.order_number,\n    whatsapp_upsell_eligible: lookup.whatsapp_upsell_eligible,\n    status: lookup.status\n  }\n}];"
      },
      "id": "merge-context",
      "name": "Merge Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 400]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": false },
                "conditions": [
                  {
                    "leftValue": "={{ $json.payload }}",
                    "rightValue": "wa_confirm",
                    "operator": { "type": "string", "operation": "contains" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "confirm"
            },
            {
              "conditions": {
                "options": { "caseSensitive": false },
                "conditions": [
                  {
                    "leftValue": "={{ $json.payload }}",
                    "rightValue": "wa_cancel",
                    "operator": { "type": "string", "operation": "contains" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cancel"
            },
            {
              "conditions": {
                "options": { "caseSensitive": false },
                "conditions": [
                  {
                    "leftValue": "={{ $json.payload }}",
                    "rightValue": "wa_modify",
                    "operator": { "type": "string", "operation": "contains" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "modify"
            },
            {
              "conditions": {
                "options": { "caseSensitive": false },
                "conditions": [
                  {
                    "leftValue": "={{ $json.payload }}",
                    "rightValue": "wa_upsell_yes",
                    "operator": { "type": "string", "operation": "contains" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "upsell_yes"
            },
            {
              "conditions": {
                "options": { "caseSensitive": false },
                "conditions": [
                  {
                    "leftValue": "={{ $json.payload }}",
                    "rightValue": "wa_upsell_no",
                    "operator": { "type": "string", "operation": "contains" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "upsell_no"
            }
          ]
        },
        "options": {}
      },
      "id": "route-button",
      "name": "Route Button",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [1520, 400]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "a1", "name": "action", "value": "confirm", "type": "string" },
            { "id": "a2", "name": "order_number", "value": "={{ $json.order_number }}", "type": "string" },
            { "id": "a3", "name": "from", "value": "={{ $json.from }}", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "set-confirm",
      "name": "Set Confirm",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1760, 120]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "b1", "name": "action", "value": "cancel", "type": "string" },
            { "id": "b2", "name": "order_number", "value": "={{ $json.order_number }}", "type": "string" },
            { "id": "b3", "name": "from", "value": "={{ $json.from }}", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "set-cancel",
      "name": "Set Cancel",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1760, 280]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "c1", "name": "action", "value": "modify", "type": "string" },
            { "id": "c2", "name": "order_number", "value": "={{ $json.order_number }}", "type": "string" },
            { "id": "c3", "name": "from", "value": "={{ $json.from }}", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "set-modify",
      "name": "Set Modify",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1760, 440]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "d1", "name": "accepted", "value": true, "type": "boolean" },
            { "id": "d2", "name": "order_number", "value": "={{ $json.order_number }}", "type": "string" },
            { "id": "d3", "name": "from", "value": "={{ $json.from }}", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "set-upsell-yes",
      "name": "Set Upsell Yes",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1760, 600]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "e1", "name": "accepted", "value": false, "type": "boolean" },
            { "id": "e2", "name": "order_number", "value": "={{ $json.order_number }}", "type": "string" },
            { "id": "e3", "name": "from", "value": "={{ $json.from }}", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "set-upsell-no",
      "name": "Set Upsell No",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1760, 760]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SOLYRA_API_URL }}/v1/orders/whatsapp-status",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"order_id\": \"{{ $json.order_number }}\",\n  \"action\": \"{{ $json.action }}\",\n  \"secret\": \"{{ $env.ORDER_WEBHOOK_SECRET }}\"\n}",
        "options": {}
      },
      "id": "api-status",
      "name": "Solyra WhatsApp Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 280]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SOLYRA_API_URL }}/v1/orders/whatsapp-upsell",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"order_id\": \"{{ $json.order_number }}\",\n  \"accepted\": {{ $json.accepted }},\n  \"secret\": \"{{ $env.ORDER_WEBHOOK_SECRET }}\"\n}",
        "options": {}
      },
      "id": "api-upsell",
      "name": "Solyra WhatsApp Upsell",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 680]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "upsell-eligible",
              "leftValue": "={{ $json.whatsapp_upsell_eligible }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-upsell",
      "name": "Upsell Eligible?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2240, 120]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $env.META_PHONE_NUMBER_ID }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.META_ACCESS_TOKEN }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('Set Confirm').item.json.from }}\",\n  \"type\": \"interactive\",\n  \"interactive\": {\n    \"type\": \"button\",\n    \"body\": {\n      \"text\": \"Mezian! 🎉\\n\\n3endna 3rd exclusive lik:\\n➕ Solyra Pure (Gel) b +110 d.م\\n🎁 Sun Protect+ (Ecran) balash\\n\\nTotal jdid: 349 d.م (bdl 239 d.م)\\n\\nBghiti tzidhom?\"\n    },\n    \"action\": {\n      \"buttons\": [\n        { \"type\": \"reply\", \"reply\": { \"id\": \"wa_upsell_yes\", \"title\": \"Iyyeh, zidhom\" } },\n        { \"type\": \"reply\", \"reply\": { \"id\": \"wa_upsell_no\", \"title\": \"La chokran\" } }\n      ]\n    }\n  }\n}",
        "options": {}
      },
      "id": "send-upsell",
      "name": "Send Upsell Msg",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2480, 40]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $env.META_PHONE_NUMBER_ID }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.META_ACCESS_TOKEN }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.from || $('Set Confirm').item.json.from || $('Set Cancel').item.json.from || $('Set Modify').item.json.from || $('Set Upsell Yes').item.json.from || $('Set Upsell No').item.json.from }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"Chokran! Wa7ed l'agent dyal Solyra ghadi ytssel bik daba bach y2ekked l'adresse. 📞\\n\\nMa khllas walou daba — COD 3nd l'istilam.\"\n  }\n}",
        "options": {}
      },
      "id": "send-followup",
      "name": "Send Follow-up",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2720, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true }",
        "options": { "responseCode": 200 }
      },
      "id": "ack-meta",
      "name": "Ack Meta",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2960, 400]
    }
  ],
  "connections": {
    "Meta Webhook": {
      "main": [[{ "node": "Is Meta Verify?", "type": "main", "index": 0 }]]
    },
    "Is Meta Verify?": {
      "main": [
        [{ "node": "Return Challenge", "type": "main", "index": 0 }],
        [{ "node": "Parse Button Reply", "type": "main", "index": 0 }]
      ]
    },
    "Parse Button Reply": {
      "main": [[{ "node": "Has Message?", "type": "main", "index": 0 }]]
    },
    "Has Message?": {
      "main": [
        [{ "node": "Lookup Order", "type": "main", "index": 0 }],
        [{ "node": "Ack Meta", "type": "main", "index": 0 }]
      ]
    },
    "Lookup Order": {
      "main": [[{ "node": "Merge Context", "type": "main", "index": 0 }]]
    },
    "Merge Context": {
      "main": [[{ "node": "Route Button", "type": "main", "index": 0 }]]
    },
    "Route Button": {
      "main": [
        [{ "node": "Set Confirm", "type": "main", "index": 0 }],
        [{ "node": "Set Cancel", "type": "main", "index": 0 }],
        [{ "node": "Set Modify", "type": "main", "index": 0 }],
        [{ "node": "Set Upsell Yes", "type": "main", "index": 0 }],
        [{ "node": "Set Upsell No", "type": "main", "index": 0 }]
      ]
    },
    "Set Confirm": {
      "main": [[{ "node": "Solyra WhatsApp Status", "type": "main", "index": 0 }]]
    },
    "Set Cancel": {
      "main": [[{ "node": "Solyra WhatsApp Status", "type": "main", "index": 0 }]]
    },
    "Set Modify": {
      "main": [[{ "node": "Solyra WhatsApp Status", "type": "main", "index": 0 }]]
    },
    "Set Upsell Yes": {
      "main": [[{ "node": "Solyra WhatsApp Upsell", "type": "main", "index": 0 }]]
    },
    "Set Upsell No": {
      "main": [[{ "node": "Solyra WhatsApp Upsell", "type": "main", "index": 0 }]]
    },
    "Solyra WhatsApp Status": {
      "main": [[{ "node": "Upsell Eligible?", "type": "main", "index": 0 }]]
    },
    "Upsell Eligible?": {
      "main": [
        [{ "node": "Send Upsell Msg", "type": "main", "index": 0 }],
        [{ "node": "Send Follow-up", "type": "main", "index": 0 }]
      ]
    },
    "Send Upsell Msg": {
      "main": [[{ "node": "Ack Meta", "type": "main", "index": 0 }]]
    },
    "Solyra WhatsApp Upsell": {
      "main": [[{ "node": "Send Follow-up", "type": "main", "index": 0 }]]
    },
    "Send Follow-up": {
      "main": [[{ "node": "Ack Meta", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "meta": { "templateCredsSetupCompleted": false }
}
