docs/n8n/solyra-order-to-whatsapp.json
{
  "name": "Solyra Order → WhatsApp (Darija)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "solyra-order-whatsapp",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "a1b2c3d4-order-webhook",
      "name": "Order Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "solyra-order-whatsapp"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst order = raw.body && typeof raw.body === 'object' ? raw.body : raw;\nconst phone = String(order.phone_e164 || order.phone_local || '').replace(/\\D/g, '');\nif (!phone) {\n  throw new Error('missing_phone_e164');\n}\nconst templateName = $env.META_TEMPLATE_NAME || 'hello_world';\nconst templateLang = $env.META_TEMPLATE_LANG || 'en_US';\nconst payload = {\n  messaging_product: 'whatsapp',\n  to: phone,\n  type: 'template',\n  template: {\n    name: templateName,\n    language: { code: templateLang }\n  }\n};\nif (templateName !== 'hello_world') {\n  payload.template.components = [\n    {\n      type: 'body',\n      parameters: [\n        { type: 'text', text: String(order.customer_name || '') },\n        { type: 'text', text: String(order.order_number || '') },\n        { type: 'text', text: String(order.items_text || '') },\n        { type: 'text', text: String(order.total_mad || '') }\n      ]\n    },\n    {\n      type: 'button',\n      sub_type: 'quick_reply',\n      index: '0',\n      parameters: [{ type: 'payload', payload: 'wa_confirm' }]\n    },\n    {\n      type: 'button',\n      sub_type: 'quick_reply',\n      index: '1',\n      parameters: [{ type: 'payload', payload: 'wa_cancel' }]\n    },\n    {\n      type: 'button',\n      sub_type: 'quick_reply',\n      index: '2',\n      parameters: [{ type: 'payload', payload: 'wa_modify' }]\n    }\n  ];\n}\nreturn [{ json: { order, meta_payload: payload, phone, templateName } }];"
      },
      "id": "c3d4e5f6-build-payload",
      "name": "Build Meta Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $env.META_PHONE_NUMBER_ID }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.META_ACCESS_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.meta_payload) }}",
        "options": {}
      },
      "id": "b2c3d4e5-send-template",
      "name": "Send WhatsApp Template",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 300]
    }
  ],
  "connections": {
    "Order Webhook": {
      "main": [
        [
          {
            "node": "Build Meta Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Meta Payload": {
      "main": [
        [
          {
            "node": "Send WhatsApp Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
